/* to do: add styling here */
/* .login-form {

  display: flex;
  flex-direction: column;
  min-height: 48px;
  height: 500px;
  width: 500px;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  justify-content: space-between;
  display: flex !important;
  flex: 0 0 auto !important;
  align-items: center !important;
  justify-content: space-between;
  padding: 0px 24px !important;
  min-height: 48px !important;
  color: rgb(34, 34, 34) !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
}

} */
.login-form {
  /* border: 1px dashed orange; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  line-height: 19.6px;
  max-width: 100%;
  width: 362px;
  cursor: default;
  min-height: 48px;
  /* border-radius: 24px;  HANDLED IN MODAL.CSS*/
  background-color: transparent;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.sign-in-and-register {
  display: flex;
  flex-direction: row;
  color: #222222;
  /* border: 1px solid black; */
  justify-content: space-between;
  height: 60px;
  align-items: center;
  align-content: center;
  padding: 0px 0px 12px;
}

.login-text-container {
  display: flex;
  /* border: 1px solid salmon; */
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.text-login {
  /* border: 1px slateblue solid; */
  margin: 10px;
  font-size: 22px;
  font-weight: 600;
  align-self: center;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.register {
  /* border: dashed 1px purple; */
  margin: 10px;
  align-self: center;
  justify-content: space-evenly;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.register-text {
  border: 2px black solid;
  justify-self: flex-end;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 9px 16px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(34, 34, 34);
}

.login-container {
  /* border: 1px solid black; */
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.login-errors {
  /* border: 1px red dashed; */
  color: rgb(205, 47, 47);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.input-field {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  margin: 0px 0px 12px;
  color: rgb(34, 34, 34);
  justify-content: center;
  align-items: center;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}

.input {
  /* border: 1px solid royalblue; */
  /* border-radius: 13px; */
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  width: 100%;
}

.credential {
  /* border: 1px solid black; */
  display: flex;
  width: 92%;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  /* padding: 9px, 12px, 9px, 12px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

/* .text {
  align-self: center;
} */

.login-button {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  border: none;
  background-color: #222222;
  color: white;
  justify-content: center;
  /* margin top | right | bottom | left */
  /* margin: 8px 20px 0px 18px; */
  padding: 12px 18px;
  height: 48px;
  font-size: 15pt;
  align-items: center;
  cursor: pointer;
  /* width: 100%; */
  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 24px;
  min-height: 48px;
  min-width: 48px;
  text-align: center;
  width: 324px;
  border-radius: 50px;
}

@media (min-width: 744px) {
  .login-form {
    min-height: 64px;
  }
}

.login-button-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
}
