.mainDiv{
    display:flex;
    flex-direction: row;
    /* padding-top: 2%; */
    /* border: 3px solid black; */
}
.emptyCart{
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;

}
.itemsContainer {
    width: 50%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
