.mainDiv{
    display:flex;
    flex-direction: row;
    /* padding-top: 2%; */
    /* border: 3px solid black; */
    width: 75%;
    margin: auto;
}
.emptyCart{
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;

}
.itemsContainer {
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.rightContainer {
    width: 30%;
    /* border: 1px solid black; */
}
