.outer_most {
  border-bottom: 2px solid rgb(205, 205, 205);
  width: 100%;
  display: flex;
  /* border: 1px dashed black; */
}

.outer_nav {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  position:relative;
  /* left: 8.0%; */
  width: 88%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 14px;
  height: 72px;
  line-height: 19.6px;
  margin-left: 20px;
  margin-right: 20px;
  margin:auto;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 12px;
  text-size-adjust: 100%;
}

.nav_bar {
  /* border: 1px solid hotpink; */
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  margin: none;
  width: 100%;
  /* width: 1400px; */
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 14px;
  height: 72px;
  line-height: 19.6px;
  /* max-width: 1400px;
  min-width: 1400px; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 12px;
  text-size-adjust: 100%;
}

.home_logo {
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  line-height: 19.6px;
  text-size-adjust: 100%;
  width: 80px;
}

.nav_searchbar {
  height: 50px;
  width: 80%;
  /* background-color: aliceblue; */
  background-color: rgba(0,0,0,0);
  border-radius: 96px;
  padding: 0px 18px 0px 0px;
  border-radius: 96px;
  border: 2px solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  cursor: text;
  height: 48px;
  line-height: 28px;
  text-align: start;
}


.searchForm{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 100%;
}

.search_form_container {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
}

.searchField{
  display: flex;
  /* border: solid blue 1px; */
  border:none;
  margin-top: 7px;
  margin-left: 10px;
  width: 93%;
  height: 30px;
  font-size: 16px;
  appearance: none;
}

.searchField:focus{
  outline: none;
}

.submitButton {
  border: none;
  background: transparent;
  position: relative;
  right: -1.5%;
  top: 4px;
  cursor: pointer;
}

.profile_dropdown{
  border-radius: 50 px;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 6px 12px 12px;
}

.profile_dropdown:hover{
  border-radius: 50 px;
  cursor: pointer;
  padding: 12px 6px 12px 12px;
  background-color: grey;
}


.nav_logo{
/* border: 2px solid red; */
margin-top: 6px;
margin-right: 6px;
}
