.mainDiv{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    
    
}

.itemCard{
    display:flex;
    flex-direction: row;
    padding-bottom: 40px;
}
.descDiv{
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 102px;
    padding:0px 0px 6px;

}


.price{
    padding: 10px;
    width:125.97;
   
}
.descText{
    display:flex;
    font-size: 16px;
    font-weight: 400px;
    padding-left:10px;   
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;; 
    
}
.remove{
    display: flex;
    font-size: 14px;
    width: 80px;
    height:36px;
    padding: 0px 10px 10px 10px;
}
.remove:hover{
    display: flex;
    font-size: 14px;
    width: 80px;
    height:36px;
    
    padding: 0px 10px 10px 10px;
    cursor: pointer;
   

}
.itemCount{
   padding: 0px 36px 0px 12px;
   font-size: 16px;
   color: #222222;
   width: 60px;
   height: 48px; 
   line-height: 1.4;
   box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
   background:white;
   border-color:rgba(34, 34, 34, 0.15);
   border-width: 1px;
   border-style: solid;
   border-radius: 6px;
   text-indent: 0.01px;
   cursor: pointer;
   padding-left: 12px;
   padding-right: 36px;
   margin: 0;
   overflow: visible !important;
}

.image{
    border-radius: 6px;
}
