.create-item-form{
border: 1px solid black;
}
.create-title{
border: 1px solid hotpink;
}
.create-title-text{
border: 1px solid orange;
}
.create-subtitle{
border: 1px solid green;
}
.create-subtitle-text{

}
.create-item-container{
border: 1px solid blue;
}
.create-item-error{

}
.create-item-body{

}
.create-item-photo{

}
.create-item-input-items{

}
.create-item-input-field{

}
.create-item-input{

}
.create-item-submit-button{

}
