.outer-div {
    width: 80%;
}

.item-by-id {
    /* border: orange 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.picture-and-reviews {
    /* border: red 2px solid; */
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-bottom: 10px;
}

.pictures {
    transform: rotate(90deg);
    border:solid black 1px;
    height:20%;
    width:40%;
}

.image-gallery {
    border: violet 1px solid;
    /* position: relative; */
}

.carrosselSmall img {
    width: 10%;
    aspect-ratio: 1/1;
    border: red solid 1px;
    transform: rotate(-90deg);
}

.carrosselBig img {
    width: 30%;
    aspect-ratio: 1/1;
    transform: rotate(-90deg);
}

/* .display-picture img {
    border-radius: 5px;
} */

.reviews {
    margin-top: 30px;
}

.review-cards {
    margin-top: 10px;
}

.item-info-and-cart-button {
    /* border: blue 2px solid; */
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 5px;
}
/*
.store-name {
    margin: 5px;
} */

.item-title-and-price{
    margin-top: 10px;
    margin-bottom: 10px;
}

.individual-item-title {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-size: 26px;
    font-weight:100;
    margin-bottom: 10px;
}

.individual-item-price {
    font-size: 28px;
    font-weight: 600;
}

.description-title-and-description {
    margin-top: 10px;
}

.item-description-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.item-description {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}
