.owner-individual-card {
  border: 1.5px solid rgb(128, 128, 128, 0.2);
  /* border: 1px solid green; */
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: inline-block;
  width: 18%;
  aspect-ratio: 1/1.28;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 0.8%;
}

.oidbc {
  border: none;
  aspect-ratio: 1/1.38;
}

.owner-each-img-wrapper {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
  width: 100%;
}

.owner-each-listing-img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  aspect-ratio: 1/0.8;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}

.owner-item-info {
  /* border: 1px solid red; */
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: 14px;
  margin: 5% 5%;
  text-align: left;
  text-size-adjust: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.item-name-link {
  text-decoration: none;
  color: black;
}

.owner-item-title {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: .88em;
  margin-top: 1%;
  margin-bottom: 1%;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: left;
  width: 95%;
  aspect-ratio: 8/1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.owner-item-price-and-owner {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-size: .88em;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-size-adjust: 100%;

}
.listing-buttons {
  border-top: 1px solid rgb(128, 128, 128, 0.2);
  /* border: 3px solid green; */
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  width: 100%;
  display: flex;
  aspect-ratio: 1/0.23;
}
.onwer-edit-button {
  border-right: 1px solid rgb(128, 128, 128, 0.2);
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  color: rgb(89, 89, 89);
  cursor: pointer;
  display: inline-flex;
  font-size: .90em;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.onwer-delete-button {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  color: rgb(89, 89, 89);
  cursor: pointer;
  display: inline-flex;
  font-size: .90em;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
