.colored-header {
    border: red 1px solid;
    height: 275px;
}

.header-color-bar {
    border: blue 1px solid;
    background-color: #F8EBE6;
    height: 175px;
}

.splash-search-circles {
    border: green 1px solid;
    background-color: green;
    height: 185px;
    width: 80%;
    position:relative;
    bottom: 120px;
    left:10%;
    z-index: 3;
}

.header-bar {
    border: pink 1px solid;

}
