.edit-review-modal {
  border: none;
  background-color: #222222;
  color: white;
  justify-content: center;
  padding: 12px 18px;
  font-size: 0.8em;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 24px;
  text-align: center;
  border-radius: 50px;
}

.erw {
  background-color: white;
  color: black;
  border: 1px solid black;
}
